<?xml version="1.0" encoding="utf-8"?>
<!--Copyright 2014 Yaroslav Mytkalyk-->

<!--Licensed under the Apache License, Version 2.0 (the "License");-->
<!--you may not use this file except in compliance with the License.-->
<!--You may obtain a copy of the License at-->

<!--http://www.apache.org/licenses/LICENSE-2.0-->

<!--Unless required by applicable law or agreed to in writing, software-->
<!--distributed under the License is distributed on an "AS IS" BASIS,-->
<!--WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!--See the License for the specific language governing permissions and-->
<!--limitations under the License.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docd.purefm">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeDark"
        android:name=".PureFM">

        <activity
            android:name=".ui.activities.BrowserPagerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.activities.PickerActivity"
            android:theme="@style/ThemeDark.Overlay"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="folder" />
                <data android:scheme="directory" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SearchActivity"
            android:label="@string/menu_search"
            android:logo="?attr/action_search"
            android:parentActivityName=".ui.activities.BrowserPagerActivity"
            android:configChanges="orientation|screenSize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.BrowserPagerActivity" />

        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.BrowserPagerActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.BrowserPagerActivity" />

        </activity>

        <service android:name=".operations.OperationsService"/>

    </application>

</manifest>